body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Dark background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #1d9bf0; /* Black background */
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
}

.login-header h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.divider {
    margin: 20px 0;
    position: relative;
    font-size: 12px;
    color: #fff;
}

.divider span {
    background-color: #1d9bf0;
    padding: 0 10px;
    z-index: 1;
}

.divider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 0;
    z-index: 0;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid #fff;
    background-color: #fff; /* Darker input background */
    color: #fff;
    font-size: 14px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #8899a6; /* Lighter placeholder color */
}

.primary-btn {
    background-color: #ffffff; /* Blue button */
    color: #000000;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.primary-btn:hover {
    background-color: #ffffff; /* Slightly darker on hover */
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #003050;
    text-decoration: none;
    font-size: 14px;
}

.sign-up {
    margin-top: 20px;
    font-size: 14px;
}

.sign-up a {
    color: #003050;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}
